footer {
  background-color: #f8f9fa; // Cor de fundo clara
  color: #333; // Cor do texto

  a {
    color: #007bff; // Cor dos links

    &:hover {
      text-decoration: none;
      color: #0056b3; // Cor ao passar o mouse
    }
  }
}
