<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- Coluna das redes sociais -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes Sociais</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="https://facebook.com" class="text-dark" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com" class="text-dark" target="_blank">Twitter</a></li>
          <li><a href="https://instagram.com" class="text-dark" target="_blank">Instagram</a></li>
          <li><a href="https://linkedin.com" class="text-dark" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
      <!-- Coluna dos links do site -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links Úteis</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/home" class="text-dark">Home</a></li>
          <li><a routerLink="/produtos" class="text-dark">Produtos</a></li>
          <li><a routerLink="/sobre" class="text-dark">Sobre</a></li>
          <li><a routerLink="/contato" class="text-dark">Contato</a></li>
        </ul>
      </div>
      <!-- Coluna do resumo sobre o site -->
      <div class="col-lg-4 col-md-6 mb-lg-0">
        <h5 class="text-uppercase">Sobre o Site</h5>
        <p>
          Este é um breve resumo do site. Aqui você pode colocar informações sobre a missão do site, os serviços oferecidos, ou qualquer outra coisa relevante que ajude os visitantes a entender mais sobre o seu trabalho.
        </p>
      </div>
    </div>
  </div>

  <!-- Direitos autorais -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Direitos Reservados:
    <a class="text-dark" href="/">SeuSite.com</a>
  </div>
</footer>
